html, body {
  margin: 0;
}
body {
  -youbkit-touch-callout: none; /*iOS Safari*/
  -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge y Opera 15+ */
  -moz-user-select: none;    /*Firefox*/
  -ms-user-select: none;        /* IE 10+ y Edge */
  user-select: none;            /* Versión sin prefijo,
                              actualmente compatible con Chrome y Opera */
}
.no-select {
  user-select: none;
}

.button-container:not(.running):not(.stopped) .timer-button {  
  color: #ffffff;
  border-radius: 10px;
  height: 120px; /* Cambia el valor del alto según tus necesidades */
  font-size: 30px; 
  text-align: left;
  /* Alineación a la izquierda */
} /*  BOTONES CONTADORES   */



.logo-container img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-row {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33691E;
  padding: 10px;
  color: white;
  font-size: 20px; /* RELOJ */
}

.btn-primary { /* BOTONES DEL BANNER*/
  border-radius: 20px; /* Cambia este valor según el radio de esquina deseado */
  padding: 5px 8px; /* Cambia los valores de padding según tus necesidades */
  font-size: 14px; /* Cambia el tamaño de fuente según tus necesidades */
/* BOTONES RESTAR */
}
.selector{
  border-radius: 20px
}

.content-row {
  flex: 1;
  display: flex;
}

.left-column,
.middle-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 100%;
}

.left-column,
.middle-column,
.container {
  background-color: #9FDAD1;
}

.button-container {  /* BOTONES TIMER */
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
  border-radius: 10px; 
}

.button-container.running {
  background-color: #84bd00;
  color: white;
}

.timer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  font-size: xx-large;
  width: 100%;
  height: 80%;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.button-inactive {
  background-color: #ccc;
  /* Cambia este valor al color para el estado inactivo */
  color: #000;
  /* Cambia este valor al color del texto para el estado inactivo */
}

.button-active {
  background-color: #ff0000;
  /* Cambia este valor al color para el estado activo */
  color: #fff;
  /* Cambia este valor al color del texto para el estado activo */
}


.middle-column{
  margin-bottom: 1px; /* Cambia este valor al margen deseado */
}


.button-container.stopped {
  background-color: #FF6F40;
  color: white;
}

.middle-column .timer-button {
  width: 100%;
  height: 85%;
}

.left-column {
  flex: 33%;
}

.middle-column {
  flex: 25%;
}
.middle-column .button-container:nth-child(1) .timer-button {
  background-color: #4e77ff; /* Cambia este color al que desees para el primer botón de bitren */
}

.middle-column .button-container:nth-child(2) .timer-button {
  background-color: #4e77ff; /* Cambia este color al que desees para el segundo botón de bitren */
}

.middle-column .button-container:nth-child(3) .timer-button {
  background-color: #006784; /* Cambia este color al que desees para el botón de camión externo */
}

