<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    /* Aquí va tu CSS actualizado */
  </style>
</head>

<body>
  <!--ENCABEZADO-->
  <div class="container">
    <div class="top-row">
      <img src="assets/logo.png" alt="Logo de la empresa" class="logo">

      <button class="btn btn-primary" (click)="confirmarRestar('biTrenGlobulus')">
        <i class="fa fa-minus"></i> BitrenGlobulus
      </button>

      <button class="btn btn-primary" (click)="confirmarRestar('biTrenNitens')">
        <i class="fa fa-minus"></i> BitrenNitens
      </button>
      
      <button class="btn btn-primary" (click)="confirmarRestar('camionExterno')">
        <i class="fa fa-minus"></i> CamiónExterno
      </button>

      <div class="clock">
        {{ currentDateTime }}
      </div>
    </div>

    <!--CONTAINER CON TIMERS Y COUNTERS-->
    <div class="content-row">

      <div class="left-column">

        <div class="button-container" (click)="toggleTimer('lineaDetenida')"
        [ngClass]="{'running': timers['lineaDetenida'].timerRunning, 'stopped': !timers['lineaDetenida'].timerRunning}">
        <div class="timer-button">
          <div *ngIf="!timers['lineaDetenida'].timerRunning">Detención de Producción</div>
          <div *ngIf="timers['lineaDetenida'].timerRunning">Reactivar Línea de Producción
            <div><i class="fa fa-play"></i></div>
          </div>
        </div>
      </div>

        <div class="button-container" (click)="toggleTimer('lineaSinMadera')"
          [ngClass]="{'running': timers['lineaSinMadera'].timerRunning, 'stopped': !timers['lineaSinMadera'].timerRunning}">
          <div class="timer-button">
            <div *ngIf="!timers['lineaSinMadera'].timerRunning">Línea sin Madera</div>
            <div *ngIf="timers['lineaSinMadera'].timerRunning">
              Reactivar Línea sin Madera
              <div><i class="fa fa-play"></i></div>
            </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('LimpiezaBunker')"
          [ngClass]="{'running': timers['LimpiezaBunker'].timerRunning, 'stopped': !timers['LimpiezaBunker'].timerRunning}">
          <div class="timer-button">
            <div *ngIf="!timers['LimpiezaBunker'].timerRunning">Limpieza de Bunker</div>
            <div *ngIf="timers['LimpiezaBunker'].timerRunning">
              Reactivar Línea por Limpieza de Bunker
              <div><i class="fa fa-play"></i></div>
            </div>
          </div>
        </div>
      </div>

      <div class="left-column">
        <div class="button-container" (click)="toggleTimer('LimpiezaZonaAlimentacion')"
          [ngClass]="{'running': timers['LimpiezaZonaAlimentacion'].timerRunning, 'stopped': !timers['LimpiezaZonaAlimentacion'].timerRunning}">
          <div class="timer-button">
            <div *ngIf="!timers['LimpiezaZonaAlimentacion'].timerRunning">Limpieza Zona Alimentación </div>
            <div *ngIf="timers['LimpiezaZonaAlimentacion'].timerRunning">
              Reactivar Línea por Limpieza de Zona de Alimentación
              <div><i class="fa fa-play"></i></div>
            </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('Mantencion')"
          [ngClass]="{'running': timers['Mantencion'].timerRunning, 'stopped': !timers['Mantencion'].timerRunning}">
          <div class="timer-button">
            <div *ngIf="!timers['Mantencion'].timerRunning">Mantención</div>
            <div *ngIf="timers['Mantencion'].timerRunning">
              Reactivar Línea por Mantención
              <div><i class="fa fa-play"></i></div>
            </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('CambioDeTurno')"
          [ngClass]="{'running': timers['CambioDeTurno'].timerRunning, 'stopped': !timers['CambioDeTurno'].timerRunning}">
          <div class="timer-button">
            <div *ngIf="!timers['CambioDeTurno'].timerRunning">Cambio de Turno</div>
            <div *ngIf="timers['CambioDeTurno'].timerRunning">
              Reactivar Línea por Cambio de Turno
              <div><i class="fa fa-play"></i></div>
            </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('Colacion')"
          [ngClass]="{'running': timers['Colacion'].timerRunning, 'stopped': !timers['Colacion'].timerRunning}">
          <div class="timer-button">
            <div *ngIf="!timers['Colacion'].timerRunning">Colación</div>
            <div *ngIf="timers['Colacion'].timerRunning">
              Reactivar Línea por Colación
              <div><i class="fa fa-play"></i></div>
            </div>
          </div>
        </div>
      </div>


      <!--   /////// BOTONES CON TODOS LOS DETALLES VISIBLES
        <div class="button-container" (click)="toggleTimer('lineaDetenida')"
          [ngClass]="{'running': timers['lineaDetenida'].timerRunning, 'stopped': !timers['lineaDetenida'].timerRunning}">
          <div class="timer-button">
            <div>Línea Mecánica Detenida</div>
            <!--{{ getButtonLabel(timers['lineaDetenida']) }} --  COMENTAR AQUÍ
            <div class="hora detención">Detención: {{ timers['lineaDetenida'].fechainicio }} Reactivación: {{
              timers['lineaDetenida'].fechafin }}</div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['lineaDetenida']) }} </div>
          </div>
        </div>
        <div class="button-container" (click)="toggleTimer('lineaSinMadera')"
          [ngClass]="{'running': timers['lineaSinMadera'].timerRunning, 'stopped': !timers['lineaSinMadera'].timerRunning}">
          <div class="timer-button">
            <div>Línea Sin Madera</div>
            <!--  {{ getButtonLabel(timers['lineaSinMadera']) }} -- COMENTAR AQUÍ
            <div class="hora inicio">Detención: {{ timers['lineaSinMadera'].fechainicio }} Reactivación: {{
              timers['lineaSinMadera'].fechafin }} </div>
            <div class="hora fin"> </div>
            <div>Tiempo Total sin Madera: {{ getElapsedTimeDifference(timers['lineaSinMadera']) }} </div>
          </div>
        </div>
        <div class="button-container" (click)="toggleTimer('LimpiezaBunker')"
          [ngClass]="{'running': timers['LimpiezaBunker'].timerRunning, 'stopped': !timers['LimpiezaBunker'].timerRunning}">
          <div class="timer-button">
            <div>Limpieza Bunker</div>
            <!--   {{ getButtonLabel(timers['LimpiezaBunker']) }}-- COMENTAR AQUÍ
            <div class="hora detención">Detención: {{ timers['LimpiezaBunker'].fechainicio }} Reactivación: {{
              timers['LimpiezaBunker'].fechafin }} </div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['LimpiezaBunker']) }} </div>
          </div>
        </div>
        <div class="button-container" (click)="toggleTimer('LimpiezaZonaAlimentacion')"
          [ngClass]="{'running': timers['LimpiezaZonaAlimentacion'].timerRunning, 'stopped': !timers['LimpiezaZonaAlimentacion'].timerRunning}">
          <div class="timer-button">
            <div>Limpieza Zona Alimentación</div>
            <!-- {{ getButtonLabel(timers['LimpiezaZonaAlimentacion']) }}-- COMENTAR AQUÍ
            <div class="hora detención">Detención: {{ timers['LimpiezaZonaAlimentacion'].fechainicio }}Reactivación: {{
              timers['LimpiezaZonaAlimentacion'].fechafin }}</div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['LimpiezaZonaAlimentacion']) }} </div>
          </div>
        </div>
        <div class="button-container" (click)="toggleTimer('Mantencion')"
          [ngClass]="{'running': timers['Mantencion'].timerRunning, 'stopped': !timers['Mantencion'].timerRunning}">
          <div class="timer-button">
            <div>Mantención</div>
            <!--  {{ getButtonLabel(timers['Mantencion']) }} -- COMENTAR AQUÍ
            <div class="hora detención">Detención: {{ timers['Mantencion'].fechainicio }} Reactivación: {{
              timers['Mantencion'].fechafin }}</div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['Mantencion']) }} </div>
          </div>
        </div>
      </div>

    -->
      <!--BOTONES CONTADORES-->
      <div class="middle-column">
        <div class="button-container">
          <div class="timer-button " (click)="aumentarContador('biTrenGlobulus')">
            BiTren Glóbulus <span>{{ contadorBiTrenGlobulus }}</span>
          </div>
        </div>
        <div class="button-container">
          <div class="timer-button " (click)="aumentarContador('biTrenNitens')">
            BiTren Nitens <span>{{ contadorBiTrenNitens }}</span>
          </div>
        </div>
        <div class="button-container">
          <div class="timer-button button-inactive" (click)="aumentarContador('camionExterno')">
            Camión Externo <span>{{ contadorCamionExterno }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>


<!--<button class="btn btn-primary" (click)="restarUnoCamionNitens()">
        <i class="fa fa-minus"></i> Restar Camión Nitens
      </button>

      -->
<!--
  <div class="button-container">
          <div class="timer-button button-inactive" (click)="aumentarContador('camionNitens')">
            Camión Externo Nitens <span>{{ contadorCamionNitens }}</span>
          </div>
        </div>
-->

<script>
  // Detectar si es un tablet y ejecutar el código para ocultar la barra de búsqueda
  if (window.matchMedia('(pointer: coarse)').matches) {
    // Ocultar barra de búsqueda en tablets
    document.documentElement.requestFullscreen(); // Entrar en modo pantalla completa
    setTimeout(() => {
      window.scrollTo(0, 1); // Desplazar la página para ocultar la barra de búsqueda
    }, 1000); // Esperar 1 segundo antes de desplazar la página (ajusta este valor según tus necesidades)
  }
</script>